* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.driver-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.driver-item {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.driver-item:hover {
  border-color: green;
}

.driver-item.selected {
  background-color: green;
  color: white;
  border-color: green;
}

// .driver-item img {
//   width: 80px;
//   height: 80px;
//   margin-bottom: 10px;
// }

.driver-item p {
  margin: 5px 0;
}

/* New CSS for star rating */
.star-rating {
  display: flex;
  margin-top: 5px;
}

.star {
  font-size: 14px;
  color: #ccc; /* default color for unfilled stars */
}

.star.filled {
  color: gold; /* color for filled stars */
}
