* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.driver-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.driver-item {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  width: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.driver-item:hover {
  border-color: rgb(0, 146, 56);
}

.driver-item.selected {
  background-color: rgb(141, 255, 169);
  color: #000;
  border-color: green;
}

// .driver-item img {
//   width: 80px;
//   height: 80px;
//   margin-bottom: 10px;
// }

.driver-item p {
  margin: 5px 0;
}
