.ride-request-list {
  display: flex; /* Use flexbox to layout items in a row */
  flex-wrap: wrap; /* Allows items to wrap onto the next line if there's not enough space */
  max-width: 80%; /* Adjust the max width to use the full container width */
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-weight: 900;
  justify-content: space-between; /* Space items evenly */
  margin-bottom: 20px; /* Add bottom margin to provide spacing above the button */

  span {
    font-size: 1.2rem;
  }
}

.ride-request-item {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px; /* Adjust margin for visual spacing */
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Ensure content stays inside the border */
  flex: 1 1 30%; /* Each item will take up 30% of the flex container width */
  margin-right: 15px; /* Right margin for spacing */
}

.ride-request-item:last-child {
  margin-right: 0; /* Remove right margin from the last item in the row */
}

.ride-request-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/006/917/732/original/black-and-white-city-silhouette-background-abstract-skyline-of-city-buildings-with-blue-sky-illustration-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: 1;
}

.ride-request-item * {
  position: relative;
  z-index: 2; /* Ensure the content is above the background image */
}

.ride-request-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.ride-request-item.selected {
  background-color: #e8f5e9;
  border-color: #4caf50;
}

.ride-request-item strong {
  color: #333;
}

.ride-request-item input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

button[type="submit"] {
  background-color: #273442;
  color: white;
  border: none;
  padding: 15px 150px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto; /* Centered horizontally and given a top margin */
}

button[type="submit"]:hover {
  background-color: #000;
}
